doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Maslo Companion
    //- link(rel='stylesheet', id='mainStylesheet' href='css/main.css')
  body(class=midi)
    #dialog
      iframe(allow="microphone;", width="350",height="430", src="https://console.dialogflow.com/api-client/demo/embedded/03ea61d0-a183-4d75-817c-3931435ffec2")
