doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Maslo 1-c
    link(rel='stylesheet', id='mainStylesheet' href='css/page.css')
  body
    #main
    script(type='text/javascript').
        window.pageMode = true;
    script(src='js/main.js')
    script(src='js/page.js')