doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Maslo 1-a
    #controls
        a.controlBut(href='javascript:void(0)', data-reaction='init') Init
        a.controlBut(href='javascript:void(0)', data-reaction='idle') Idle
        a.controlBut(href='javascript:void(0)', data-reaction='joy') Joy
        a.controlBut(href='javascript:void(0)', data-reaction='surprise') Surprise
        a.controlBut(href='javascript:void(0)', data-reaction='upset') Upset
        a.controlBut(href='javascript:void(0)', data-reaction='yes') Yes
        a.controlBut(href='javascript:void(0)', data-reaction='no') No
        a.controlBut(href='javascript:void(0)', data-reaction='hey') Hey Maslo

    link(rel='stylesheet', id='mainStylesheet' href='css/main.css')
  body
    #main
    script(src='js/main.js')