doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Maslo 1-c
    link(rel='stylesheet', id='mainStylesheet' href='css/main.css')
  body(class=midi)
    #debug
        #b1
        #b2
        #b3
    #controller
        #joy.feeling Joy
        #love.feeling Love
        #surprise.feeling Surprise
        #terror.feeling Terror
        #sadness.feeling Sadness
        #anger.feeling Anger
        #sleepy.feeling Sleepy
        #calm.feeling Calm
        #slider
    #controls
        .block.actions
            a.controlBut.active(href='javascript:void(0)', data-reaction='init') Init
            a.controlBut(href='javascript:void(0)', data-reaction='idle') Idle
            a.controlBut(href='javascript:void(0)', data-reaction='joy') Joy
            a.controlBut(href='javascript:void(0)', data-reaction='surprise') Surprise
            a.controlBut(href='javascript:void(0)', data-reaction='upset') Upset
            a.controlBut(href='javascript:void(0)', data-reaction='yes') Yes
            a.controlBut(href='javascript:void(0)', data-reaction='no') No
            a.controlBut(href='javascript:void(0)', data-reaction='hey') Hey Maslo
            a.controlBut(href='javascript:void(0)', data-reaction='shake') Shake
            a.controlBut#listeningBut(href='javascript:void(0)', data-reaction='listening') Listening
            a.controlBut(href='javascript:void(0)', data-reaction='question') Question
    a#debugBut(href='javascript:void(0)') Debugger
    #main
    script(src='js/main.js')